.inputSumbit {
    width: 100%;
    height: 40px;
    background: $brand-blue;
    color: white;
    margin: 10px 0;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;

    @include transition;
    &:hover {
        background: darken($brand-blue, 4%);
    }

    &:active {
        background: darken($brand-blue, 10%);
    }
}
