.selectorWrapper {
    @include flex-column;
    width: calc(100% - 120px);
    min-height: 200px;
    margin: 20px 0;
    padding: 16px 8px;
    box-shadow: $shadow-lighten;
    border-radius: 6px;
    background: $white-2;

    .selectorTitle {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .selectorNotFound {
        @include grid-center;
        width: 100%;
        height: 168px;
        opacity: 0.6;
    }

    .selector {
        @include flex-row;
        width: 100%;

        .dates {
            @include flex-column;
            width: 300px;
            height: 100%;

            .dateBtn {
                width: inherit;
                height: 40px;
                font-weight: 600;
                font-size: 14px;
                letter-spacing: 0.2px;
                text-align: start;
                padding: 0 16px;
                border-radius: 50px;
                margin: 4px 0;

                &[data-same='true'] {
                    color: $brand-blue;
                    background: $white-1;
                }
                &:hover {
                    background: $white-1;
                }
            }
        }
        .sessions {
            @include flex-row;
            flex-wrap: wrap;
            width: calc(100% - 300px);
            height: 100%;
            padding: 10px 20px;

            .sessionBtn {
                padding: 6px 16px;
                background: $brand-blue;
                color: $white-1;
                border-radius: 50px;
                margin-right: 10px;
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 14px;
                letter-spacing: 0.2px;

                &:hover {
                    background: darken($brand-blue, 5%);
                }
            }
        }
    }
}
.pulseAnimation {
    @include pulse(1s);
}
