@use './index' as *;
@use './animations' as anim;

.layout {
    @include flex-column;
    width: 100vw;
    height: 100vh;

    .head {
        @include flex-row;
        align-items: center;
        width: 100%;
        height: 64px;
        padding: 0 16px;
        background: white;

        a {
            @include grid-center;
        }
        span {
            font-size: large;
            margin-left: 16px;
        }
        button {
            margin-left: 10px;
            color: $brand-blue;
            font-size: 12px;
        }
    }
    .body {
        @include flex-row;
        width: 100%;
        height: calc(100% - 64px);

        .sidebar {
            @include flex-column;
            width: 320px;
            height: 100%;
            padding: 16px;
            background: $white-1;

            button {
                @include grid-center;
                width: 100%;
                height: 50px;
                background: white;
                border-radius: 4px;
                color: $accent-paragraph;
                box-shadow: $shadow-lighten;
                font-size: medium;
                margin-bottom: 10px;

                @include transition;
                &:hover {
                    background: $white-2;
                }
            }
            .btnActive {
                background: $brand-blue;
                color: white;
                &:hover {
                    background: $brand-blue;
                }
            }
        }

        .rootPage {
            @include flex-center;
            flex-wrap: wrap;
            width: calc(100% - 320px);
            height: 100%;

            .rootBtn {
                @include flex-center;
                @include unselectable;
                flex-direction: column;
                border: 4px solid $white-0;
                border-radius: 6px;
                padding: 10px;
                margin-right: 10px;

                h1 {
                    margin-top: 10px;
                    font-size: x-large;
                }
            }
        }

        .tablePage {
            @include flex-column;
            width: calc(100% - 320px);
            height: 100%;
            padding: 16px;

            .tableBtns {
                @include flex-row;
                width: 100%;
                height: 50px;
                margin-bottom: 10px;

                button {
                    @include flex-center;
                    width: fit-content;
                    height: 100%;
                    padding: 0 16px;
                    background: $brand-blue;
                    border-radius: 8px;
                    font-size: 16px;
                    font-weight: 600;
                    box-shadow: $shadow-lighten;
                    color: white;
                    svg {
                        margin-right: 10px;
                    }

                    @include transition;
                    &:hover {
                        background: darken($brand-blue, 5%);
                    }
                }
            }

            .table {
                display: grid;
                grid-template-columns: 0.4fr 1.5fr 2fr 1.1fr 0.6fr 0.6fr 0.6fr 1.2fr 1.2fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 2px;
                grid-template-areas: '. . . . . . . . . .';
                justify-content: center;
                align-items: center;

                .tableHead {
                    @include grid-center;
                    @include unselectable;
                    height: 40px;
                    background: $white-0;

                    &:first-child {
                        border-top-left-radius: 8px;
                    }
                    &:last-of-type {
                        border-top-right-radius: 8px;
                    }
                }

                .tableCell {
                    @include flex-row;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    background: $white-1;
                    overflow: hidden;
                    &[x-name='long'] {
                        padding: 0 8px;
                        justify-content: flex-start;
                    }

                    span {
                        white-space: nowrap;
                    }

                    button {
                        width: 100%;
                        height: 100%;
                        svg {
                            fill: $dark-4;
                        }
                        &:hover {
                            svg {
                                fill: $brand-blue;
                            }
                            &:last-child {
                                svg {
                                    fill: $danger-red;
                                }
                            }
                        }
                    }
                }
                .pulseAnimation {
                    background: $white-0;
                    @include anim.pulse;
                }
            }
        }
    }
}
